node-red/lib/flows/flow2.json
[{"id":"7fe9098.21bfff8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"aa3c7620.608248","type":"inject","z":"7fe9098.21bfff8","name":"","topic":"1","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":580,"wires":[["64dd20e6.e896c","4c4fba63.994354","49289db.837f064"]]},{"id":"64dd20e6.e896c","type":"sqlite","z":"7fe9098.21bfff8","mydb":"933b80c6.0add1","sqlquery":"fixed","sql":"select * from meter3 LIMIT 1 OFFSET (SELECT COUNT(*) FROM meter3)-1;\n","name":"MeasuredData","x":500,"y":160,"wires":[["20c7b708.38b2e8"]]},{"id":"4c4fba63.994354","type":"sqlite","z":"7fe9098.21bfff8","mydb":"933b80c6.0add1","sqlquery":"fixed","sql":"select * from meter4 LIMIT 1 OFFSET (SELECT COUNT(*) FROM meter4)-1;\n","name":"MeasuredData","x":500,"y":580,"wires":[["15b6bb1f.a85515"]]},{"id":"49289db.837f064","type":"sqlite","z":"7fe9098.21bfff8","mydb":"933b80c6.0add1","sqlquery":"fixed","sql":"select * from meter5 LIMIT 1 OFFSET (SELECT COUNT(*) FROM meter5)-1;\n","name":"MeasuredData","x":500,"y":1000,"wires":[["4cee0ade.616e04"]]},{"id":"20c7b708.38b2e8","type":"function","z":"7fe9098.21bfff8","name":"Data format 1","func":" var msg_V1 = {payload: msg.payload[msg.payload.length - 1].V1};\n var msg_V2 = {payload: msg.payload[msg.payload.length - 1].V2};\n var msg_V3 = {payload: msg.payload[msg.payload.length - 1].V3};\n var msg_I1 = {payload: msg.payload[msg.payload.length - 1].I1};\n var msg_I2 = {payload: msg.payload[msg.payload.length - 1].I2};\n var msg_I3 = {payload: msg.payload[msg.payload.length - 1].I3};\n var msg_P1 = {payload: msg.payload[msg.payload.length - 1].P1};\n var msg_P2 = {payload: msg.payload[msg.payload.length - 1].P2};\n var msg_P3 = {payload: msg.payload[msg.payload.length - 1].P3};\n var msg_F = {payload: msg.payload[msg.payload.length - 1].F};\n \n return [msg_V1, msg_V2, msg_V3, msg_I1, msg_I2, msg_I3, msg_P1, msg_P2, msg_P3, msg_F];","outputs":10,"noerr":0,"x":780,"y":160,"wires":[["c1f7777a.489598"],["c1df83df.d29"],["ef827f90.e5df"],["3a29846a.72b00c"],["e61d66cf.85b108"],["f03fa02a.6844f"],["dbc9954f.513ff8"],["3420446c.6ef28c"],["f31adde.8d1a22"],["77f847d8.0f0b48"]]},{"id":"77f847d8.0f0b48","type":"ui_gauge","z":"7fe9098.21bfff8","name":"","group":"18a07384.7d320c","order":30,"width":8,"height":4,"gtype":"gage","title":"Frequency","label":"Hz","format":"{{value | number:3}}","min":"40.0","max":"60.0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":420,"wires":[]},{"id":"15b6bb1f.a85515","type":"function","z":"7fe9098.21bfff8","name":"Data format 2","func":" var msg_V1 = {payload: msg.payload[msg.payload.length - 1].V1};\n var msg_V2 = {payload: msg.payload[msg.payload.length - 1].V2};\n var msg_V3 = {payload: msg.payload[msg.payload.length - 1].V3};\n var msg_I1 = {payload: msg.payload[msg.payload.length - 1].I1};\n var msg_I2 = {payload: msg.payload[msg.payload.length - 1].I2};\n var msg_I3 = {payload: msg.payload[msg.payload.length - 1].I3};\n var msg_P1 = {payload: msg.payload[msg.payload.length - 1].P1};\n var msg_P2 = {payload: msg.payload[msg.payload.length - 1].P2};\n var msg_P3 = {payload: msg.payload[msg.payload.length - 1].P3};\n var msg_F = {payload: msg.payload[msg.payload.length - 1].F};\n \n return [msg_V1, msg_V2, msg_V3, msg_I1, msg_I2, msg_I3, msg_P1, msg_P2, msg_P3, msg_F];","outputs":10,"noerr":0,"x":780,"y":580,"wires":[["2119bc19.ec0dd4"],["e1330afa.ad8758"],["537d94a8.6f450c"],["6c247a54.06d264"],["fac9bf12.46ee2"],["2759684d.aa9818"],["ece19062.f5726"],["ff440bdc.edcdd8"],["8afdc68a.f83588"],["7d673e3b.496a1"]]},{"id":"4cee0ade.616e04","type":"function","z":"7fe9098.21bfff8","name":"Data format 3","func":" var msg_V1 = {payload: msg.payload[msg.payload.length - 1].V1};\n var msg_V2 = {payload: msg.payload[msg.payload.length - 1].V2};\n var msg_V3 = {payload: msg.payload[msg.payload.length - 1].V3};\n var msg_I1 = {payload: msg.payload[msg.payload.length - 1].I1};\n var msg_I2 = {payload: msg.payload[msg.payload.length - 1].I2};\n var msg_I3 = {payload: msg.payload[msg.payload.length - 1].I3};\n var msg_P1 = {payload: msg.payload[msg.payload.length - 1].P1};\n var msg_P2 = {payload: msg.payload[msg.payload.length - 1].P2};\n var msg_P3 = {payload: msg.payload[msg.payload.length - 1].P3};\n var msg_F = {payload: msg.payload[msg.payload.length - 1].F};\n \n return [msg_V1, msg_V2, msg_V3, msg_I1, msg_I2, msg_I3, msg_P1, msg_P2, msg_P3, msg_F];","outputs":10,"noerr":0,"x":780,"y":1000,"wires":[["1e9d2534.ad121b"],["bcfa3aa2.770b08"],["93277992.70eb18"],["c2c9a9d4.ebd9c8"],["5a6001a9.a4fe4"],["35c83ce0.233874"],["91c449fd.46c258"],["1c752de6.cebab2"],["22921805.66ca88"],["118d30cb.faa16f"]]},{"id":"c1f7777a.489598","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":1,"width":7,"height":1,"name":"","label":"Voltage phase 1","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":60,"wires":[]},{"id":"8b0bb482.5cf258","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":2,"width":1,"height":1,"name":"","label":"[V]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":60,"wires":[]},{"id":"c1df83df.d29","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":4,"width":7,"height":1,"name":"","label":"Voltage phase 2","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":100,"wires":[]},{"id":"e87916d7.8add38","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":5,"width":1,"height":1,"name":"","label":"[V]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":100,"wires":[]},{"id":"ef827f90.e5df","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":7,"width":7,"height":1,"name":"","label":"Voltage phase 3","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":140,"wires":[]},{"id":"e17d9072.6711","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":8,"width":1,"height":1,"name":"","label":"[V]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":140,"wires":[]},{"id":"3a29846a.72b00c","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":11,"width":7,"height":1,"name":"","label":"Current phase 1","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":180,"wires":[]},{"id":"f5a082d5.dcd96","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":15,"width":1,"height":1,"name":"","label":"[A]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":180,"wires":[]},{"id":"7f887d80.b9fdf4","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":18,"width":1,"height":1,"name":"","label":"[A]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":220,"wires":[]},{"id":"a00461b1.3d5d1","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":12,"width":1,"height":1,"name":"","label":"[A]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":260,"wires":[]},{"id":"e61d66cf.85b108","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":14,"width":7,"height":1,"name":"","label":"Current phase 2","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":220,"wires":[]},{"id":"f03fa02a.6844f","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":17,"width":7,"height":1,"name":"","label":"Current phase 3","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":260,"wires":[]},{"id":"dbc9954f.513ff8","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":21,"width":7,"height":1,"name":"","label":"Power phase 1","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":300,"wires":[]},{"id":"5c383cc8.be8a64","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":22,"width":1,"height":1,"name":"","label":"[W]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":300,"wires":[]},{"id":"d42e7161.c300e","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":25,"width":1,"height":1,"name":"","label":"[W]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":340,"wires":[]},{"id":"d5dfbcb0.27739","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":28,"width":1,"height":1,"name":"","label":"[W]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":380,"wires":[]},{"id":"3420446c.6ef28c","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":24,"width":7,"height":1,"name":"","label":"Power phase 2","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":340,"wires":[]},{"id":"f31adde.8d1a22","type":"ui_text","z":"7fe9098.21bfff8","group":"18a07384.7d320c","order":27,"width":7,"height":1,"name":"","label":"Power phase 3","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":380,"wires":[]},{"id":"7d673e3b.496a1","type":"ui_gauge","z":"7fe9098.21bfff8","name":"","group":"8bfe8745.735b78","order":30,"width":9,"height":4,"gtype":"gage","title":"Frequency","label":"Hz","format":"{{value | number:3}}","min":"40.0","max":"60.0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":840,"wires":[]},{"id":"2119bc19.ec0dd4","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":1,"width":7,"height":1,"name":"","label":"Voltage phase 1","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":480,"wires":[]},{"id":"bd6da5c2.68a5f8","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":2,"width":1,"height":1,"name":"","label":"[V]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":480,"wires":[]},{"id":"e1330afa.ad8758","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":4,"width":7,"height":1,"name":"","label":"Voltage phase 2","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":520,"wires":[]},{"id":"e1afff7c.014ca","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":5,"width":1,"height":1,"name":"","label":"[V]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":520,"wires":[]},{"id":"537d94a8.6f450c","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":7,"width":7,"height":1,"name":"","label":"Voltage phase 3","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":560,"wires":[]},{"id":"16e0b749.4e2b19","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":8,"width":1,"height":1,"name":"","label":"[V]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":560,"wires":[]},{"id":"6c247a54.06d264","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":11,"width":7,"height":1,"name":"","label":"Current phase 1","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":600,"wires":[]},{"id":"ed2d992f.e5a4f8","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":18,"width":1,"height":1,"name":"","label":"[A]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":600,"wires":[]},{"id":"88117212.a9923","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":12,"width":1,"height":1,"name":"","label":"[A]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":640,"wires":[]},{"id":"fbf82f3d.8df54","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":15,"width":1,"height":1,"name":"","label":"[A]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":680,"wires":[]},{"id":"fac9bf12.46ee2","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":14,"width":7,"height":1,"name":"","label":"Current phase 2","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":640,"wires":[]},{"id":"2759684d.aa9818","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":17,"width":7,"height":1,"name":"","label":"Current phase 3","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":680,"wires":[]},{"id":"ece19062.f5726","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":21,"width":7,"height":1,"name":"","label":"Power phase 1","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":720,"wires":[]},{"id":"9dddccad.2cc4f","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":22,"width":1,"height":1,"name":"","label":"[W]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":720,"wires":[]},{"id":"21cab8a2.cbeee8","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":25,"width":1,"height":1,"name":"","label":"[W]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":760,"wires":[]},{"id":"30f8331a.ad39ec","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":28,"width":1,"height":1,"name":"","label":"[W]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":800,"wires":[]},{"id":"ff440bdc.edcdd8","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":24,"width":7,"height":1,"name":"","label":"Power phase 2","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":760,"wires":[]},{"id":"8afdc68a.f83588","type":"ui_text","z":"7fe9098.21bfff8","group":"8bfe8745.735b78","order":27,"width":7,"height":1,"name":"","label":"Power phase 3","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":800,"wires":[]},{"id":"118d30cb.faa16f","type":"ui_gauge","z":"7fe9098.21bfff8","name":"","group":"3ab13b54.a45af4","order":30,"width":9,"height":4,"gtype":"gage","title":"Frequency","label":"Hz","format":"{{value | number:3}}","min":"40.0","max":"60.0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":1260,"wires":[]},{"id":"1e9d2534.ad121b","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":1,"width":7,"height":1,"name":"","label":"Voltage phase 1","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":900,"wires":[]},{"id":"f37d6bf8.e775a8","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":2,"width":1,"height":1,"name":"","label":"[V]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":900,"wires":[]},{"id":"bcfa3aa2.770b08","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":4,"width":7,"height":1,"name":"","label":"Voltage phase 2","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":940,"wires":[]},{"id":"e6df6752.c94458","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":5,"width":1,"height":1,"name":"","label":"[V]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":940,"wires":[]},{"id":"93277992.70eb18","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":7,"width":7,"height":1,"name":"","label":"Voltage phase 3","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":980,"wires":[]},{"id":"bbb9959c.c7a968","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":8,"width":1,"height":1,"name":"","label":"[V]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":980,"wires":[]},{"id":"c2c9a9d4.ebd9c8","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":11,"width":7,"height":1,"name":"","label":"Current phase 1","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":1020,"wires":[]},{"id":"8827e5e3.27a258","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":18,"width":1,"height":1,"name":"","label":"[A]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":1020,"wires":[]},{"id":"8e1b798a.5c0658","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":12,"width":1,"height":1,"name":"","label":"[A]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":1060,"wires":[]},{"id":"4900d.701a1ff38","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":15,"width":1,"height":1,"name":"","label":"[A]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":1100,"wires":[]},{"id":"5a6001a9.a4fe4","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":14,"width":7,"height":1,"name":"","label":"Current phase 2","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":1060,"wires":[]},{"id":"35c83ce0.233874","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":17,"width":7,"height":1,"name":"","label":"Current phase 3","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":1100,"wires":[]},{"id":"91c449fd.46c258","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":21,"width":7,"height":1,"name":"","label":"Power phase 1","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":1140,"wires":[]},{"id":"1de6d4c.a2b622b","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":22,"width":1,"height":1,"name":"","label":"[W]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":1140,"wires":[]},{"id":"d2234684.a03128","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":25,"width":1,"height":1,"name":"","label":"[W]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":1180,"wires":[]},{"id":"3ca38bdf.80f024","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":28,"width":1,"height":1,"name":"","label":"[W]","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":1220,"wires":[]},{"id":"1c752de6.cebab2","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":24,"width":7,"height":1,"name":"","label":"Power phase 2","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":1180,"wires":[]},{"id":"22921805.66ca88","type":"ui_text","z":"7fe9098.21bfff8","group":"3ab13b54.a45af4","order":27,"width":7,"height":1,"name":"","label":"Power phase 3","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":1220,"wires":[]},{"id":"933b80c6.0add1","type":"sqlitedb","z":"","db":"/mnt/dav/Data/modbusData.db","mode":"RO"},{"id":"18a07384.7d320c","type":"ui_group","z":"","name":"PV","tab":"4eb1a5cd.8de6ec","order":1,"disp":true,"width":9,"collapse":false},{"id":"8bfe8745.735b78","type":"ui_group","z":"","name":"Battery","tab":"4eb1a5cd.8de6ec","order":2,"disp":true,"width":9,"collapse":false},{"id":"3ab13b54.a45af4","type":"ui_group","z":"","name":"Grid","tab":"4eb1a5cd.8de6ec","order":3,"disp":true,"width":9,"collapse":false},{"id":"4eb1a5cd.8de6ec","type":"ui_tab","z":"","name":"Overall","icon":"dashboard","order":6,"disabled":false,"hidden":false}]