node-red-1881/.flows_raspberrypi.json.backup
[{"id":"108c7f3c.679e61","type":"tab","label":"photon functions","disabled":false,"info":""},{"id":"cf1459aa.4c8358","type":"tab","label":"userlist","disabled":false,"info":""},{"id":"347f0c6f.0fb944","type":"tab","label":"password generator","disabled":false,"info":""},{"id":"25f857ef.5dead8","type":"ui_group","z":"","name":"buttons","tab":"48252f14.d448","order":1,"disp":false,"width":"36","collapse":false},{"id":"50b08575.694c0c","type":"sqlitedb","z":"","db":"/mnt/dav/Data/usertable.sqlite3","mode":"RW"},{"id":"929bfdd0.138fc","type":"ui_group","z":"","name":"usertable","tab":"48252f14.d448","order":2,"disp":false,"width":"36","collapse":false},{"id":"48252f14.d448","type":"ui_tab","z":"","name":"User list","icon":"dashboard","disabled":false,"hidden":false},{"id":"e84e7c.21926188","type":"ui_tab","z":"","name":"Functions","icon":"dashboard","disabled":false,"hidden":false},{"id":"cec4d5d4.4abda8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bcdc06aa.4ba0b8","type":"ui_group","z":"","name":"photon","tab":"e84e7c.21926188","order":2,"disp":false,"width":"14","collapse":false},{"id":"a5ec3b2a.637e58","type":"mqtt-broker","z":"","name":"Photon_Messages","broker":"broker.hivemq.com","port":"1883","clientid":"photon-Node","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"80e71cb5.325f2","type":"ui_form","z":"cf1459aa.4c8358","d":true,"name":"Login","label":"","group":"25f857ef.5dead8","order":0,"width":0,"height":0,"options":[{"label":"Username","value":"user","type":"text","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"user":"","password":""},"payload":"","submit":"log in","cancel":"cancel","topic":"","x":70,"y":200,"wires":[["1acf59a4.ff4d26"]]},{"id":"1acf59a4.ff4d26","type":"function","z":"cf1459aa.4c8358","d":true,"name":"Checker","func":"if ((msg.payload.user == \"trung\") &&\n    (msg.payload.password == \"controlsystem\"))\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":200,"wires":[["f14b0ed6.d4c29"]]},{"id":"f14b0ed6.d4c29","type":"debug","z":"cf1459aa.4c8358","d":true,"name":"admin debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":140,"wires":[]},{"id":"9beae8e1.41a9e8","type":"sqlite","z":"cf1459aa.4c8358","mydb":"50b08575.694c0c","sqlquery":"fixed","sql":"SELECT * FROM users ORDER BY rowid DESC;\n","name":"import","x":210,"y":300,"wires":[["3f8af9cd.c379a6"]]},{"id":"30761965.a34eb6","type":"ui_table","z":"cf1459aa.4c8358","group":"929bfdd0.138fc","name":"","order":2,"width":"25","height":"24","columns":[{"field":"id","title":"id","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"name","title":"name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"uidTag","title":"RFID","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"hanId","title":"HAN ID","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"LastStartOrStop","title":"last swipe","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Remark","title":"remark","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"verified","title":"verified","width":"","align":"left","formatter":"tickCross","formatterParams":{"target":"_blank"}},{"field":"email","title":"email","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"mailed","title":"notified","width":"","align":"left","formatter":"tickCross","formatterParams":{"target":"_blank"}},{"field":"socketId","title":"charger","width":"90","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":510,"y":280,"wires":[["9dcc1253.0c388","9d95632e.e9588"]]},{"id":"6754a5f0.b675fc","type":"ui_button","z":"cf1459aa.4c8358","name":"","group":"25f857ef.5dead8","order":2,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":80,"y":340,"wires":[["9beae8e1.41a9e8"]]},{"id":"9dcc1253.0c388","type":"debug","z":"cf1459aa.4c8358","name":"admin debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":220,"wires":[]},{"id":"3f8af9cd.c379a6","type":"function","z":"cf1459aa.4c8358","name":"userlist format","func":"msg.ui_control =  {\n    \"tabulator\":{\n        \"columnResized\":\"function(column){var newColumn = {         field: column._column.field,         visible: column._column.visible,         width: column._column.width,         widthFixed: column._column.widthFixed,         widthStyled: column._column.widthStyled     }; this.send({topic:this.config.topic,ui_control:{callback:'columnResized',columnWidths:newColumn}}); }\",\n        \"columnMoved\":\"function(column, columns){     var newColumns=[];     columns.forEach(function (column) {         newColumns.push({'field': column._column.field});     });     this.send({topic:this.config.topic,ui_control:{callback:'columnMoved',columns:newColumns}}); }\",\n        \"groupHeader\":\"function (value, count, data, group) {return value + \\\"<span style='color:#d00; margin-left:10px;'>(\\\" + count + \\\" Termostat\\\"+((count>1) ? \\\"e\\\" : \\\"\\\") + \\\")</span>\\\";}\",\n        \"columns\":[\n            {\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"HAN ID\",\"field\":\"hanId\",\"width\":100, \"editor\":\"input\"},\n            {\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"remark\",\"field\":\"Remark\",\"width\":100, \"editor\":\"input\"},\n            {\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"id\",\"field\":\"id\",\"width\":50},\n            {\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"RFID\",\"field\":\"uidTag\",\"width\":100},\n            {\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"last swipe\",\"field\":\"LastStartOrStop\",\"width\":95},\n            {\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"notified\",\"field\":\"mailed\",\"width\":80},\n            {\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"name\",\"field\":\"name\",\"width\":120, \"editor\":\"input\"},\n            {\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"email\",\"field\":\"email\",\"width\":140,\"editor\":\"input\"},\n            {\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"verified\",\"field\":\"verified\",\"width\":80,\"align\":\"center\", \"editor\":\"tick\"},\n            \n        ],\n        \"cellEdited\":\"function(cell){this.send({ui_control:{callback:'cellEdited'},payload:cell.getValue(),oldValue:cell.getOldValue(),field:cell.getColumn().getField(),id:cell.getRow().getCell('id').getValue()}); }\",\n        //\"cellEdited\":\"function(cell){var change = {newValue:cell.getValue()};this.send({topic:this.config.topic,ui_control:{callback:'cellEdited',changes:change}});}\",\n        \"layout\":\"fitColumns\",\n        \"movableColumns\":true,\n        \"groupBy\":\"\"\n    },\n    //\"customHeight\":12\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["30761965.a34eb6"]]},{"id":"9d95632e.e9588","type":"function","z":"cf1459aa.4c8358","name":"change parser","func":"// msg.params = {\n//     $newval:msg.payload,\n//     $oldval:msg.oldValue,\n//     $field:msg.field,\n//     $id:msg.id\n// }\n// return msg;\nif (typeof msg.ui_control !== 'undefined') {\n    if (msg.ui_control.callback == \"cellEdited\") {\n        var newMsg = {\n            \"topic\": \"UPDATE users SET \" + msg.field + \" = '\" +\n            msg.payload + \"' WHERE id = \" + msg.id\n        }\n        return newMsg;\n    }\n}","outputs":1,"noerr":0,"x":620,"y":340,"wires":[["fa3138f6.528f48","1844d38a.b8069c"]]},{"id":"fa3138f6.528f48","type":"sqlite","z":"cf1459aa.4c8358","mydb":"50b08575.694c0c","sqlquery":"msg.topic","sql":"UPDATE users SET $field = $newval WHERE id = $id\n","name":"update","x":790,"y":320,"wires":[["1844d38a.b8069c"]]},{"id":"d58f11de.beb98","type":"switch","z":"cf1459aa.4c8358","d":true,"name":"sorter","property":"field","propertyType":"env","rules":[{"t":"eq","v":"name","vt":"str"},{"t":"eq","v":"hanId","vt":"str"},{"t":"eq","v":"Remark","vt":"str"},{"t":"eq","v":"verified","vt":"str"},{"t":"eq","v":"email","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":530,"y":100,"wires":[[],[],[],[],[]]},{"id":"1844d38a.b8069c","type":"debug","z":"cf1459aa.4c8358","name":"update debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":880,"y":380,"wires":[]},{"id":"c84644a7.8e0728","type":"sqlite","z":"cf1459aa.4c8358","d":true,"mydb":"50b08575.694c0c","sqlquery":"prepared","sql":"UPDATE users SET $field = $newval WHERE id = $id\n","name":"update","x":410,"y":80,"wires":[[]]},{"id":"1763fb43.22c4f5","type":"ui_button","z":"108c7f3c.679e61","name":"resetOlimex","group":"bcdc06aa.4ba0b8","order":2,"width":0,"height":0,"passthru":false,"label":"reset Olimex","tooltip":"","color":"","bgcolor":"","icon":"","payload":"olimex","payloadType":"str","topic":"HANevse/resetOlimex","x":230,"y":380,"wires":[["342b510e.28afae","a756a60b.26bfc8"]]},{"id":"15382d4e.045d23","type":"ui_button","z":"108c7f3c.679e61","name":"resetPhoton","group":"bcdc06aa.4ba0b8","order":2,"width":0,"height":0,"passthru":false,"label":"reset Photons","tooltip":"","color":"","bgcolor":"","icon":"","payload":"photon","payloadType":"str","topic":"HANevse/resetPhoton","x":230,"y":420,"wires":[["342b510e.28afae","a756a60b.26bfc8"]]},{"id":"dfb4c5bb.fe7068","type":"ui_switch","z":"108c7f3c.679e61","name":"switchTest1","label":"Renewable mode @1","tooltip":"","group":"bcdc06aa.4ba0b8","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"HANevse/switchTest1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":460,"wires":[["342b510e.28afae","a756a60b.26bfc8"]]},{"id":"a46b6cde.2b574","type":"ui_text_input","z":"108c7f3c.679e61","name":"maxC1","label":"setpoint C1","tooltip":"","group":"bcdc06aa.4ba0b8","order":3,"width":0,"height":0,"passthru":false,"mode":"number","delay":"1000","topic":"HANevse/maxC1","x":240,"y":540,"wires":[["342b510e.28afae","a756a60b.26bfc8"]]},{"id":"342b510e.28afae","type":"debug","z":"108c7f3c.679e61","d":true,"name":"switch debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":200,"wires":[]},{"id":"fc3e872.3696078","type":"ui_form","z":"108c7f3c.679e61","d":true,"name":"maxCurents","label":"","group":"bcdc06aa.4ba0b8","order":2,"width":0,"height":0,"options":[{"label":"setPoint C1","value":"C1","type":"number","required":false,"rows":null},{"label":"setPoint C2","value":"C2","type":"number","required":false,"rows":null},{"label":"setPoint C3","value":"C3","type":"number","required":false,"rows":null},{"label":"setPoint C4","value":"C4","type":"number","required":false,"rows":null}],"formValue":{"C1":"","C2":"","C3":"","C4":""},"payload":"","submit":"submit","cancel":"cancel","topic":"HANevse/maxCurrent","x":150,"y":260,"wires":[["342b510e.28afae"]]},{"id":"d8ea8e84.1414","type":"ui_text_input","z":"108c7f3c.679e61","name":"maxC2","label":"setpoint C2","tooltip":"","group":"bcdc06aa.4ba0b8","order":3,"width":0,"height":0,"passthru":false,"mode":"number","delay":"1000","topic":"HANevse/maxC2","x":400,"y":540,"wires":[["a756a60b.26bfc8"]]},{"id":"96f71341.5ce2a","type":"ui_text_input","z":"108c7f3c.679e61","name":"maxC3","label":"setpoint C3","tooltip":"","group":"bcdc06aa.4ba0b8","order":3,"width":0,"height":0,"passthru":false,"mode":"number","delay":"1000","topic":"HANevse/maxC3","x":260,"y":580,"wires":[["a756a60b.26bfc8"]]},{"id":"ca393108.7ede9","type":"ui_text_input","z":"108c7f3c.679e61","name":"maxC4","label":"setpoint C4","tooltip":"","group":"bcdc06aa.4ba0b8","order":3,"width":0,"height":0,"passthru":false,"mode":"number","delay":"1000","topic":"HANevse/maxC4","x":420,"y":580,"wires":[["a756a60b.26bfc8"]]},{"id":"a756a60b.26bfc8","type":"mqtt out","z":"108c7f3c.679e61","name":"send_photon","topic":"","qos":"2","retain":"false","broker":"a5ec3b2a.637e58","x":490,"y":400,"wires":[]},{"id":"f524d321.35dba","type":"comment","z":"347f0c6f.0fb944","name":"create a key for a password","info":"","x":220,"y":160,"wires":[]},{"id":"703e0c75.fc6d94","type":"bcrypt","z":"347f0c6f.0fb944","name":"","action":"encrypt","field":"payload","hash":"payload","rounds":"10","x":570,"y":200,"wires":[["acc5ec53.f3c9a"]]},{"id":"f72ef8e4.719b48","type":"inject","z":"347f0c6f.0fb944","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":200,"wires":[["723b11ea.e5128"]]},{"id":"723b11ea.e5128","type":"change","z":"347f0c6f.0fb944","name":"Enter Password Here","rules":[{"t":"set","p":"payload","pt":"msg","to":"controlsystem","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":200,"wires":[["703e0c75.fc6d94"]]},{"id":"acc5ec53.f3c9a","type":"debug","z":"347f0c6f.0fb944","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":200,"wires":[]},{"id":"b23e3b32.6c6e18","type":"ui_switch","z":"108c7f3c.679e61","name":"switchTest2","label":"Renewable mode @2","tooltip":"","group":"bcdc06aa.4ba0b8","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"HANevse/switchTest2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":500,"wires":[["a756a60b.26bfc8"]]}]